/*CSS RESET*/ *{margin:0;padding:0;font-family: 'JetBrains Mono', monospace;color:white;}

/*background-color: rgb(43, 43, 43);*/
body{
    background-color: rgb(43, 43, 43);
}

#home{
    float:left;
    width:90%;
    height:100% ;

}
#about{
    float:left;
    width:90%;
    height:100%;
    font-size: 20px;
}



span.yahyeet{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
span.about{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*navstuff*/
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(66, 66, 66);
    overflow-x: hidden;
    padding-top: 5%;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
      padding: 2%;
      margin-left: 5%;
    text-decoration: none;
    font-size: 170%;
    color: rgba(255, 255, 255, 0.404);
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #696969;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 250%;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    float:left;
    font-size: 150%;
    cursor: pointer;
    background-color: rgb(66, 66, 66);
    color: rgba(255, 255, 255, 0.404);
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #696969;
  }